@model TravelExpenseReport.Models.Expense

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Radera Utgift </h4>
    <hr />

    <h4>

        @Html.HiddenFor(model => model.TravelReportId, new { @Value = @ViewBag.ActualTravelReportId, @readonly = "true" })

    </h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseType.ExpenseTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseType.ExpenseTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseMilage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseMilage)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default btn-danger" />
        </div>
            <div>
                @Html.ActionLink("Tillbaka", "Index", new { tId = @ViewBag.ActualTravelReportId })
            </div>
    }
</div>

