@model TravelExpenseReport.Models.Expense

@{
    ViewBag.Title = "Delete";
}
@*<h3>Radera</h3>*@
<div>
    <h4>Radera resekostnad</h4>
    @*<hr />*@
    <h4>
        @Html.HiddenFor(model => model.TravelReportId, new { @Value = @ViewBag.ActualTravelReportId, @readonly = "true" })
    </h4>
    <div class="container-fluid">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ExpenseType.ExpenseTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpenseType.ExpenseTypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpenseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpenseDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpenseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpenseAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpenseAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpenseMilage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpenseMilage)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Radera" class="btn btn-warning btn-xs btn-sm" />
            </div>
            <div>
                @Html.ActionLink("Lista kostnader", "Index", new { tId = @ViewBag.ActualTravelReportId }, new { @class = "btn btn-default btn-xs btn-sm" })
                @Html.ActionLink("Till reseräkning", "Calc", "TravelReports", new { id = ViewBag.ActualTravelReportId }, new { @class = "btn btn-default btn-xs btn-sm" })
            </div>
        }
    </div>
</div>
