@model TravelExpenseReport.Models.Expense

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utgiftsinformation</h4>

    <h4>

        @Html.DisplayFor(model => model.TravelReport.TravelReportName)

        @Html.DisplayFor(model => model.TravelReport.ApplicationUser.FullName)

        @Html.HiddenFor(model => model.TravelReportId, new { @Value = @ViewBag.ActualTravelReportId, @readonly = "true" })

    </h4>
    @*<hr />*@
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseType.ExpenseTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseType.ExpenseTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseMilage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseMilage)
        </dd>

    </dl>
 </div>
       
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.ExpenseId }) |
    @Html.ActionLink("Tillbaka", "Index", new { tId = Model.TravelReportId })
</p>