@model TravelExpenseReport.Models.Expense

@{
    ViewBag.Title = "Edit";
}

<h4>Ändra Utgift

    @Html.DisplayFor(model => model.TravelReport.TravelReportName) 

    @Html.DisplayFor(model => model.TravelReport.ApplicationUser.FullName)

</h4>

<h5 class="text-danger"> @ViewBag.ErrorMsg</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>@Html.DisplayFor(model => model.ExpenseType.ExpenseTypeName)</h4>
    @*<h5 class="text-danger"> @ViewBag.ErrorMsg</h5>*@
     <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ExpenseId)
        @Html.HiddenFor(model => model.ExpenseTypeId)
        @Html.HiddenFor(model => model.ExpenseAmount)

        @*<div class="form-group">
            @Html.LabelFor(model => model.ExpenseTypeId, "ExpenseTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ExpenseTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExpenseTypeId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpenseDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpenseDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpenseDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpenseDate, "", new { @class = "text-danger" })
            </div>
        </div>
       
       @if (ViewBag.ActualExpenseTypeId != 4)
       {
            <div class="form-group">
            @Html.LabelFor(model => model.ExpenseAmountInfo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.ExpenseAmountInfo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExpenseAmountInfo, "", new { @class = "text-danger" }) 

            </div>
            </div>
       }
        @if (ViewBag.ActualExpenseTypeId == 4)
        {
            @*<div class="form-group">
                @Html.LabelFor(model => model.ExpenseAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExpenseAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExpenseAmount, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseMilage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpenseMilage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpenseMilage, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        <div class="form-group">
            @*@Html.LabelFor(model => model.TravelReportId, "TravelReportId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.HiddenFor(model => model.TravelReportId, new { @Value = @ViewBag.ActualTravelReportId, @readonly = "true" })
                @Html.ValidationMessageFor(model => model.TravelReportId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka", "Index", new { tId = @ViewBag.ActualTravelReportId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}