@model IEnumerable<TravelExpenseReport.Models.Expense>

@{
    ViewBag.Title = "Index";
}

        <h4>
            @Html.ActionLink("Ny Utgift", "Create", new { tId = ViewBag.ActualTravelReportId })
        </h4>
        <h4>
            @*@Html.Display(Model.FirstOrDefault().TravelReport.TravelReportName)*@


            @ViewBag.ActualTravelName

            @ViewBag.TravellerName

           
            @ViewBag.TravelDepartureDate

            @ViewBag.TravelReturnDate

        </h4>

        <h3>Utgifter</h3>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseType.ExpenseTypeName)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.TravelReport.ApplicationUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelReport.TravelReportName)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseInformation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseMilage)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseType.ExpenseTypeName)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.TravelReport.ApplicationUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TravelReport.TravelReportName)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseInformation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseMilage)
                    </td>

                    <td>
                        @*@Html.ActionLink("Ändra", "Edit", new { tId = @ViewBag.ActualTravelReportId})*@
                        @Html.ActionLink("Ändra", "Edit", new { id = item.ExpenseId }) |
                        @Html.ActionLink("Detaljer", "Details", new { id = item.ExpenseId }) |
                        @Html.ActionLink("Radera", "Delete", new { id = item.ExpenseId })
                    </td>
                </tr>
            }

        </table>
