<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TER Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#" style="font-size:18pt">
                    <span>
                        <img src="images/Logo1.png" height="35px">
                    </span>
                    Assistansboken
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.js")
    @Scripts.Render("~/Scripts/jquery.timepicker.js")
    <script src="~/scripts/datepicker-se.js"></script>

    <script>
        $(function () {
            if (!Modernizr.inputtypes.date) {
                $('.date').datepicker({
                    'dateFormat': 'yy-mm-dd',
                    changeMonth: true,
                    changeYear: true
                });
            };
            if (!Modernizr.inputtypes.time) {
                $('.time').timepicker({ 'timeFormat': 'H:i', 'step': '5'});
            };
        });
    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
