@model TravelExpenseReport.Models.TravelReport

@{
    ViewBag.Title = "Calculate";
}

<h2>Calculate</h2>
<h2>@ViewBag.Summa</h2>
<h2>@ViewBag.LegalAmount.NightAmount</h2>


<div>
    <h4>TravelReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureHoursExtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureHoursExtra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnHoursExtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnHoursExtra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDay) a' @ViewBag.LegalAmount.FullDayAmount
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HalfDay) a' @ViewBag.LegalAmount.HalfDayAmount
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Night)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Night) a' @ViewBag.LegalAmount.NightAmount
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreakfastReduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreakfastReduction) a' @ViewBag.LegalAmount.BreakfastReductionAmount
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LunchReduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LunchReduction) a' @ViewBag.LegalAmount.LunchReductionAmount
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DinnerReduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DinnerReduction) a' @ViewBag.LegalAmount.DinnerReductionAmount
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commment)
        </dd>

        <dt>
            Summa
        </dt>

        <dd>
            @ViewBag.Summa
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TravelReportId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
