@model TravelExpenseReport.Models.TravelReport

@{
    ViewBag.Title = "Delete";
}

<h3>Radera reseräkning</h3>

<div class="container-fluid">
    <h4>TravelReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusType.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusType.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelReportName)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Patient.PatientName)</dt>

        <dd>@Html.DisplayFor(model => model.Patient.PatientName)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartureTime)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.ReturnTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReturnTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DepartureHoursExtra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartureHoursExtra)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReturnHoursExtra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReturnHoursExtra)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullDay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullDay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HalfDay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HalfDay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Night)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Night)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BreakfastDeduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BreakfastDeduction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LunchOrDinnerDeduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LunchOrDinnerDeduction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AllMealsDeduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AllMealsDeduction)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-xs btn-warning" />
            @Html.ActionLink("Till listan", "Index", null, new { @class = "btn btn-default btn-xs" })
        </div>
    }
</div>
