@model TravelExpenseReport.ViewModels.TravelReportViewModel1

@{
    ViewBag.Title = "Index";
}

    <h2>Lista över reseräkningar</h2>

<p>
    @Html.ActionLink("Lägg till", "Create", null, new { @class = "btn btn-default btn-primary" })
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().ApplicationUser.FullName)
            @Html.Partial("_SelectPartialView")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().StatusType.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().TravelReportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().Purpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().ReturnTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().DepartureHoursExtra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().ReturnHoursExtra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().FullDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().HalfDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().Night)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().BreakfastReduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().LunchReduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().DinnerReduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTRUser.FirstOrDefault().Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SelectedTRUser)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusType.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelReportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureHoursExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnHoursExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HalfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Night)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastReduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchReduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DinnerReduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Beräkna igen", "Edit2", new { id = item.TravelReportId }) |
                @Html.ActionLink("Summera", "Calc", new { id = item.TravelReportId }) |
                @Html.ActionLink("Tag bort", "Delete", new { id = item.TravelReportId })
            </td>
        </tr>
    }

</table>
@if (!User.IsInRole("Assistant"))
{
@Html.ActionLink("Visa alla", "Index", null, new { @class = "btn btn-default btn-primary" })
}



