@model TravelExpenseReport.ViewModels.SelectionAndTRViewModel

@{
    ViewBag.Title = "Index";
}
<h2>Lista över reseräkningar</h2>

@if ((User.IsInRole("Administrator")) || (User.IsInRole("GroupAdmin")) || (User.IsInRole("Assistant")))
{
<p>
    @Html.ActionLink("Lägg till", "Create", null, new { @class = "btn btn-xs btn-sm btn-success" })
</p>

<div class="responsive whiteBox">
<table class="table table-condensed">
    <tr>
        @if ((User.IsInRole("Administrator")) || (User.IsInRole("GroupAdmin")))
            {
            <th>
                @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().ApplicationUser.FullName)
                <br />

                @if (ViewBag.Filtered)
                {
                    @Html.ActionLink("Visa alla", "Index", null, new { @class = "btn btn-default btn-xs" })
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.DropDownListFor(m => m.SelectionList.SelectedTravelUser, Model.SelectionList.TravelUsersForSelection)
                        @Html.ValidationMessageFor(m => m.SelectionList.SelectedTravelUser)
                        <br />

                        <div class="form-group">
                            @*<div class="col-md-offset-2 col-md-10">*@
                            <div>
                                <input type="submit" value="Filtrera" name="SelectedTravelItem" class="btn btn-default btn-xs btn-sm" />
                            </div>
                        </div>
                    }
                }
            </th>
        }

        <th>
            @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().StatusType.StatusName)
        </th>
        <th>
            <section class="hidden-xs hidden-sm visible-md">
            @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().TravelReportName)
            </section>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().Patient.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().Destination)
        </th>
        <th>
            <section class="hidden-xs hidden-sm">
            @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().Purpose)
            </section>
        </th>
        <th>
            <section class="hidden-xs hidden-sm">
            @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().DepartureDate)
            </section>
        </th>
        <th>
            <section class="hidden-xs hidden-sm">
            @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().ReturnDate)
            </section>
        </th>

        @if ((User.IsInRole("Administrator")) || (User.IsInRole("GroupAdmin")) || (User.IsInRole("Assistant")))
        {
            <th>
                <section class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.SelectedUserTravelReports.FirstOrDefault().Comment)
                </section>
            </th>
        }
        @*<th></th>*@
    </tr>

    @foreach (var item in Model.SelectedUserTravelReports)
    {
        <tr>
            @if ((User.IsInRole("Administrator")) || (User.IsInRole("GroupAdmin")))

                {
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.StatusType.StatusName)
            </td>
            <td>
                <section class="hidden-xs hidden-sm">
                @Html.DisplayFor(modelItem => item.TravelReportName)
                </section>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                <section class="hidden-xs hidden-sm">
                @Html.DisplayFor(modelItem => item.Purpose)
                </section>
            </td>
            <td>
                <section class="hidden-xs hidden-sm">
                @Html.DisplayFor(modelItem => item.DepartureDate)
                </section>
            </td>
            <td>
                <section class="hidden-xs hidden-sm">
                @Html.DisplayFor(modelItem => item.ReturnDate)
                </section>
                </td>

            @if ((User.IsInRole("Administrator")) || (User.IsInRole("GroupAdmin")) || (User.IsInRole("Assistant")))
            {
                <td>
                    <section class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.Comment)
                    </section>
                </td>
            }

            @if (ViewBag.ActiveUser == item.ApplicationUserId)
            {
                <td>
                    @if (item.StatusType.StatusName == "Ny")
                    {
                        if (User.IsInRole("Assistant"))
                        {
                            @*@Html.ActionLink("Gör klar", "Calc", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm  btn-primary TR-btn-primary" })*@
                            @Html.ActionLink("Gör klar", "Calc", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm  btn-primary" })
                            @Html.ActionLink("Pdf", "Print", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm btn-default" })
                            @Html.ActionLink("Radera", "Delete", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm btn-warning" })
                        }
                        else
                        {
                            @*@Html.ActionLink("Gör klar", "Calc", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-primary TR-btn-primary" })*@
                            @Html.ActionLink("Gör klar", "Calc", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-primary" })
                            @Html.ActionLink("Pdf", "Print", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-default" })
                            @Html.ActionLink("Radera", "Delete", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-warning" })
                        }
                    }
                    else
                    {

                        if (item.StatusType.StatusName == "Ej godkänd")
                        {
                            if (User.IsInRole("Assistant"))
                            {
                                @Html.ActionLink("Gör klar", "Calc", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm btn-primary" })
                                @Html.ActionLink("Pdf", "Print", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm btn-default" })
                            }
                            else
                            {
                                @Html.ActionLink("Gör klar", "Calc", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-smbtn-primary" })
                            }

                        }
                        else
                        {
                            if (User.IsInRole("Assistant"))
                            {
                                @Html.ActionLink("Visa", "Details", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm btn-primary" })
                                @Html.ActionLink("Pdf", "Print", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm btn-default" })
                            }
                            else
                            {
                                @Html.ActionLink("Visa", "Details", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-smbtn-primary" })
                            }
                        }
                    }
                </td>
            }
            else // not own Travel Report
            {
                <td>

                    @if (User.IsInRole("GroupAdmin"))
                    {
                        if (item.StatusType.StatusName == "Inskickad")
                        {
                            @Html.ActionLink("Granska", "Calc", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("Visa", "Details", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-primary" })
                            @*@Html.ActionLink("Pdf", "Print", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-primary" })*@
                        }
                    }
                    else
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            if (item.StatusType.StatusName == "Ny" || item.StatusType.StatusName == "Ej godkänd" || item.StatusType.StatusName == "Verifierad")
                            {
                                @Html.ActionLink("Visa", "Details", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-primary" })
                                @*@Html.ActionLink("Pdf", "Print", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-primary" })*@
                            }
                            else
                            {
                                @Html.ActionLink("Granska", "Calc", new { id = item.TravelReportId, selectedUserId = Model.SelectionList.SelectedTravelUser }, new { @class = "btn btn-xs btn-sm btn-primary" })
                            }
                        }
                        else // Patient or Other
                        {
                            @Html.ActionLink("Visa", "Details", new { id = item.TravelReportId }, new { @class = "btn btn-xs btn-sm btn-primary" })
                            @*@Html.ActionLink("Pdf", "Print", new { id = item.TravelReportId }, new { @class = "btn btn-xs  btn-sm btn-primary" })*@
                        }
                    }
                </td>
            }

        </tr>
    }

</table>
</div>
