@model IEnumerable<TravelExpenseReport.Models.LegalAmount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ValidDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullDayAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HalfDayAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NightAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilageAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ValidDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullDayAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HalfDayAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NightAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilageAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LegalAmountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LegalAmountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LegalAmountId })
        </td>
    </tr>
}

</table>
